$bg-gray: #C3C3CD;

@mixin border-radius($br) {
  -moz-border-radius: $br;
  -webkit-border-radius: $br;
}

body {
  background-color: $bg-gray;
}

#team-area {
  width: 20%;
  float: left;
  margin-right: 1em;
}

.team {
  background: -moz-linear-gradient(top, black, gray);
  background: -webkit-gradient(linear, left-top, left-bottom, from(black), to(gray));
  color: white;
  padding-top: .25em;
  height: 1.5em;
  @include border-radius(10px);
  text-align: center;
  margin: 1px;
  font: {
    size: 2em;
  }

  input {
    @include border-radius(20px);
    background:none;
    color:#666666;
    width: 80%;
    padding: .25em;
    text-align: center;
    font: {
      size: .6em;
      family: inherit;
    }
  }

  a {
    font: {
      size: .4em;
    }
    color: #00ff00;
    float: right;
    padding-right: 1em;
  }
}
