#players-details
  %p.team-name= team.name
  .resource
    - @player.name = "Add New Player"
    = form_for([team, @player], :remote => true) do |player_form|
      = player_form.text_field :name
  %br

  #players
    = render :partial => players, :locals => {:team => team}
